<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Quem é Renan Lopes?</h2>
                <hr class="primary">
                <!-- <h2>Quem é Renan Lopes?</h2> -->
                <p>
                    Um carioca 30+ apaixonado por tecnologia.
                    <br /> <br />
                    Minha vida profissional é quase inteiramente inserida na área de TI,
                    tive a oportunidade de passar por áreas variadas e vivenciar diversas faces de um time de TI.
                    <br />
                    <br />
                    Atuei como Analista de Suporte, Analista de Sistemas, e mais recentemente migrei de área e estou
                    atuando como Analista de Qualidade de Software (QA).
                    <br />
                    Esse background me permite ter uma visão particular do funcionamento da TI em uma organização.
                    <br /> <br />
                    Sou formado em Sistemas de Informação, com MBA em Gestão de Projetos, e estou cursando MBA em Gestão
                    de Qualidade de Software.
                    <br />
                    Atualmente venho me especializando na área de Qualidade de Software, buscando expandir minhas
                    habilidades e aperfeiçoar as que possuo, onde além da Pós na área, participo de uma mentoria na área
                    de Qualidade de Software (The Circle) e faço curso de Engenheiro de Qualidade de Software (EBAC).
                    <br /><br />
                    Para maiores detalhes sobre minha vida profissional e acadêmica, seguem meu <a
                        href="https://www.linkedin.com/in/renanslopes/" target="_blank" class="href_sobre">Linkedin</a>
                    e <a href="https://github.com/renanslopes" target="_blank" class="href_sobre">Github</a>.
                </p>
            </div>
        </div>
    </div>
    <hr />
</section>