<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>Quem é Renan Lopes?</h2>
                <p>
                    Carioca de 37 anos apaixonado por tecnologia.
                    <br />
                    Minha vida profissional é quase inteiramente inserida dentro de TI,
                    tive a oportunidade de passar por áreas variadas e viver diversas faces de um time de TI.
                    <br />
                    Esse background me permite ter uma visão particular do funcionamento de um setor de TI,
                    onde consigo interagir com os diversos níveis hieráquicos.
                </p>
                <a href="https://www.linkedin.com/in/renanslopes/" target="_blank"
                    class="btn btn-default btn-xl">Linkedin</a>
            </div>
        </div>
    </div>
</section>