<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>Quem é Renan Lopes?</h2>
                <p>
                    Carioca de 37 anos apaixonado por tecnologia.
                    <br /> <br />
                    Minha vida profissional é quase inteiramente inserida na área de TI,
                    tive a oportunidade de passar por áreas variadas e viver diversas faces de um time de TI.
                    Atuei como Analista de Suporte, Analista de Sistemas, e mais recentemente migrei de área e estou
                    atuando como Analista de Qualidade de Software (QA).
                    <br />
                    Esse background me permite ter uma visão particular do funcionamento da TI em uma organização.
                    <br /> <br />
                    Sou bacharelado em Sistemas de Informação, com MBA em Gestão de Projetos.
                    <br />
                    Atualmente venho me especializando na área de Qualidade de Software, buscando expandir minhas
                    habilidades e aperfeiçoar as que possuo.
                    <br/>
                    Para maiores detalhes sobre minha vida profissional e acadêmica, seguem meu Linkedin e Github.
                </p>
                <a href="https://www.linkedin.com/in/renanslopes/" target="_blank"
                    class="btn btn-default btn-xl">Linkedin</a>
            </div>
        </div>
    </div>
</section>