<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Meu perfil profissional completo no Linkedin!</h2>
                <hr class="light">
                <p class="text-faded">
                    Toda a minha trajetória profissional e acadêmica.
                </p>
                <a href="https://www.linkedin.com/in/renanslopes/" target="_blank"
                    class="btn btn-default btn-xl">Linkedin</a>
            </div>
        </div>
    </div>
</section>