<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Entre em contato!</h2>
                <hr class="primary">
                <p id="p_contact">
                    Fique a vontade para entrar em contato.
                    <br />
                    Estou aberto para bate-papo, parcerias, estudos, etc.
                </p>
                <br />
            </div>
            <!-- <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.twitter_username }}</p>
                </a>
            </div> -->
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:{{ site.email }}" target="_blank">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://github.com/{{ site.github_username }}" target="_blank">
                    <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.github_username }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://api.whatsapp.com/send?phone=5521974838314&text=Fala%20comigo">
                    <img src="https://www.shareicon.net/data/16x16/2016/07/10/119959_whatsapp_512x512.png" />
                </a>
            </div>

        </div>
</section>