<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1>Your Favorite Source of Free Bootstrap Themes</h1> -->
            <h1>
                RENAN LOPES - QA
            </h1>
            <hr>
            <p>
                Analista de Qualidade de Software
            </p>
            <a href="https://drive.google.com/file/d/10SYHbHxrb2JWm1OrdsVuGidYIT8PRayl/view?usp=sharing" class="btn btn-default btn-xl">Baixar CV</a>
            <br />
            <br />
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Vem comigo</a>
        </div>
    </div>
</header>