<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Testes manuais</h3>
                    <p class="text-muted">
                        Testes explotarórios
                        <br />
                        Testes funcionais
                        <br />
                        Testes regressivos
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Automação de testes</h3>
                    <p class="text-muted">
                        Automação de testes em Cypress
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Documentação de testes</h3>
                    <p class="text-muted">
                        Desenho de processos
                        <br />
                        Criação de documentos correlatos
                        <br />
                        Report de testes
                        <br />
                        Azure DevOps
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Metodologias Ágeis</h3>
                    <p class="text-muted">
                        SAFe
                        <br />
                        Scrum
                        <br />
                        Kanban
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>